<div ng-controller="myCtrl">  
    <div class="container">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Data Input
                </div>
                <div class="panel-body">

                    <form class="form">
                        <div class="form-group">
                            <span class="control-label col-sm-4">Index</span>
                            <span class="col-sm-6"> 
                                <input type="text" ng-model="index" placeholder="Enter the index Name"></span>
                        </div>
                    <form class="form">
                        <div class="form-group">
                            <span class="control-label col-sm-4">First name: </span>
                            <span class="col-sm-6"> 
                                <input type="text" ng-model="student[index].firstName" placeholder="Enter the first Name"></span>
                        </div>
                        <div class="form-group">
                            <span class="control-label col-sm-4">Last name: </span>
                            <span class="col-sm-6"> 
                                <input type="text" ng-model="student[index].lastName" placeholder="Enter the last Name"></span>
                        </div>
                        <div class="form-group">
                            <span class="control-label col-sm-4">Email: </span>
                            <span class="col-sm-6"> 
                                <input type="text" ng-model="student[index].email" placeholder="Enter the email"></span>
                        </div>
                        <div class="form-group">
                            <span class="control-label col-sm-4">Contact: </span>
                            <span class="col-sm-6"> 
                                <input type="text" ng-model="student[index].contact" placeholder="Enter the contact"></span>
                        </div>

                    </form>
                </div>


            </div>
            <div class="well">
                <div>
                    {{student[0].firstName}}
                </div>                

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Data Input
                </div>
                <div class="panel-body">


                    <div>
                        <table class="table table-striped table-hover" border="1px">
                            <tr>                               
                                <th>Index</th>
                                <th>Frist Name</th>                            
                                 <th>Last Name</th> 
                                 <th>Email</th>
                                <th>Contact</th> 
                                
                            </tr>
                            <tr ng-repeat="student in student">                               
                                <td>{{$index}}</td>
                                <td>{{student.firstName}}</td>                            
                                <td> {{student.lastName}}</td>                           
                                <td>{{student.email}}</td>                            
                                <td>{{student.contact}}</td>
                            </tr>
                        </table>

                    </div>



                </div>
            </div>

        </div>

    </div>
</div>